:root {
    --color-gray-light-1: #f8f8f8;
    --color-gray-light-2: #e9e9e9;
    --color-gray-light-3: #dedede;
    --color-gray-dark-1: #545454;
    --color-gray-dark-2: #737373;
    --color-gray-dark-3: #9a9a9a;
    --color-blue-dark-1: #00387f;
    --color-tiffany: #39d353;
    --profile-theme: #181818;
    --timeline-circle-theme: #14253e;
    --bg_shadow_color: #1f71ebc6;
    --avatar_shadow_color: rgba(0, 0, 0, 0.5);
    --github_color: #000000;
    --telegram_color: #23a9ea;
    --linkedin_color: #0078b6;
    --page_bg_color: white;

    --pgbar-length: 100%;

    --MATH-PI: 3.1415px;
    --percent: 100;
}

html {
    font-size: 100%;
    font-family: 'PT Sans', sans-serif;
    /* font-family: 'Ubuntu', '微軟正黑體'; */
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 3rem 1rem;
    min-height: 100vh;
    background-color: #010409;
}

.wrapper {
    margin: 0 auto;
    max-width: 90%;
    background-color: var(--color-gray-light-2);
    display: flex;
    /* box-shadow: 0px 0px 250px 0px var(--bg_shadow_color); */
    animation: bg_anim 10s ease-in-out infinite alternate;
}

.intro {
    flex: 0 0 35%;
    background-color: var(--page_bg_color);
    /* box-shadow: 5px 0px 15px 0px #b3b3b3; */
    z-index: 5;
}

.profile {
    position: relative;
    background-color: var(--profile-theme);
    padding: 1rem 1rem;
    margin-bottom: 50px;
    text-align: center;
    user-select: none;
}

.profile::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 100%;
    height: 30px;
    background-color: var(--profile-theme);
    transform: skewY(-3deg);
}

.photo img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 10px var(--avatar_shadow_color);
}

.bio .name {
    font-size: 2.5rem;
    text-align: center;
    color: var(--color-gray-light-1);
    margin: 0;
    margin-top: 0.75rem;
}

.bio .nick {
    font-size: 2rem;
    text-align: center;
    color: var(--color-gray-light-1);
    margin: 0;
}

.bio .profession {
    font-size: 1.75rem;
    text-align: center;
    color: var(--color-gray-light-1);
    margin: 0;
    margin-top: 0.75rem;
}

.bio .location {
    font-size: 1.5rem;
    text-align: center;
    color: var(--color-gray-light-1);
    margin: 0;
    margin-top: 0.75rem;
}

.languages button {
    cursor: pointer;
    border: none;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: var(--profile-theme);
    padding: 21px 28px;
    text-align: center;
    display: inline-block;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin: 0.5rem;
    margin-top: 0.75rem;
    transition-duration: 0.3s;
}

.languages button:hover {
    background-size: 90%;
}

.intro-section {
    padding: 0 1rem;
    color: var(--profile-theme);
}

.intro-section .title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
}

.about .paragraph {
    text-align: justify;
    font-size: 1.75rem;
}

.about .quote {
    font-family: "Caesar Dressing", "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    font-size: 1.8rem;
    color: rgba(125, 0, 0, 0.85);
    line-height: 1.35em;
    text-transform: uppercase;
    animation: burn 0.6s ease-in-out infinite alternate;
}

.info-section {
    margin: 1rem 0;
}

.info-section span {
    position: relative;
    transition: all 0.3s;
}

.info-section i {
    color: var(--profile-theme);
    width: 20px;
    height: 20px;
}

.link a {
    text-decoration: none;
    color: inherit;
}

.link span::after {
    position: absolute;
    content: '';
    left: 50%;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: var(--profile-theme);
    transition: width 0.3s;
    /*transition-timing-function: cubic-bezier(.64,.51,.16,.86);*/
    transition-timing-function: cubic-bezier(.92, .57, .33, 1.02);
    transform: translate(-50%, 0);
}

.link span:hover {
    color: var(--profile-theme);
}

.link span:hover::after {
    width: 100%;
}

/* Detail section overall setting*/
.detail {
    flex: 1 0 0;
    background-color: var(--page_bg_color);
    padding: 2rem;
}

.detail:hover>.detail-section:not(:hover) {
    opacity: 0.3;
}

.detail-section {
    transition: all 0.3s;
}

.detail-section:not(:last-of-type) {
    padding-bottom: 1rem;
}

.detail-title {
    display: flex;
    align-items: center;
}

.detail-section>.detail-content {
    padding: 1.5rem;
    padding-left: 2rem;
    user-select: none;
}

.detail-section.edu>.detail-content {
    padding-left: calc(1.5rem + 10px);
}

.detail-section .detail-title span {
    font-size: 2.5rem;
}

.title-icon+span {
    font-size: 1.5rem;
    transition: all 0.3s;
}

.title-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--profile-theme);
    border-radius: 50%;
    transition: all 0.3s;
}

.title-icon i {
    color: white;
    line-height: 1rem;
    font-size: 1rem;
    text-align: center;
}

.detail-section:hover .title-icon {
    transform: scale(1.5);
    margin-right: 1.5rem;
}

.detail-section:hover .title-icon+span {
    letter-spacing: 1.5px;
}

/* time line block in education section */
.timeline-block {
    position: relative;
    padding-left: 30px;
}

.timeline-block:not(:last-of-type) {
    margin-bottom: 1rem;
}

.timeline-block h1 {
    font-size: 1.5rem;
    margin: 5px 0;
    transition: all 0.3s;
}

.timeline-block p {
    font-size: 1.25rem;
    margin: 5px 0;
}

.timeline-block time {
    font-size: 1.25rem;
    color: var(--color-gray-dark-2);
}

.timeline-block::before {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    background-color: white;
    border: 3px solid var(--timeline-circle-theme);
    border-radius: 50%;
    left: -10px;
    top: -5px;
}

.timeline-block::after {
    position: absolute;
    content: '';
    width: 3px;
    height: 100%;
    background-color: var(--timeline-circle-theme);
    left: -1px;
    top: 13px;
}

.timeline-block:hover h1 {
    color: var(--color-tiffany);
}

.timeline-block:hover::before {
    animation: circle 1.2s infinite;
}

/* Programming skills section */
.pg-list,
.tool-list,
.favor-list {
    padding: 0;
    list-style: none;
}

.pg-list>li {
    margin: 1rem 0;
    display: flex;
    align-items: center;
}

.sb-skeleton {
    position: relative;
    flex: 1 0 auto;
    height: 2px;
    background-color: var(--color-gray-dark-3);
}

.pg-list>li>span {
    flex: 0 0 100px;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.sb-skeleton>.skillbar {
    position: absolute;
    left: 0;
    top: -1px;
    width: var(--pgbar-length);
    height: 4px;
    background-color: var(--profile-theme);
}

.tool-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tool-list>li {
    position: relative;
    text-align: center;
    flex: 0 0 25%;
    /* flex: 0 0 33.33%; */
}

.tool-list>li>svg {
    position: relative;
    fill: transparent;
    width: 95%;
    transform: rotate(-90deg);
}

.tool-list>li>svg>circle {
    stroke-width: 1px;
    stroke: #cdcdcd;
}

.tool-list>li>svg>circle.cbar {
    stroke-width: 3px;
    stroke: var(--profile-theme);
    stroke-linecap: round;
    stroke-dashoffset: 0;
    stroke-dasharray: calc(var(--MATH-PI) * 45 * 2);
    transition: all 0.3s;
    transition-timing-function: cubic-bezier(.64, .51, .16, .86);
}

.tool-list>li:hover>svg>circle.cbar {
    stroke-width: 4px;
    stroke: var(--color-tiffany);
    stroke-dashoffset: calc(var(--MATH-PI) * 45 * 2 * (1 - var(--percent)));
}

.tool-list>li>.tl-name,
.tool-list>li>.tl-exp {
    position: absolute;
    left: 50%;
    color: var(--profile-theme);
}

.tool-list>li>.tl-name {
    top: 50%;
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: 0.25px;
    transform: translate(-50%, -50%);
}

.tool-list>li>.tl-exp {
    top: calc(50% + 1.4rem);
    font-size: 1rem;
    transform: translate(-50%, -50%);
}

/* Interests Section */
.outer-frame {
    border: 0px solid var(--color-gray-dark-3);
    border-radius: 5px;
}

.favor-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.favor-list>li {
    display: flex;
    flex: 1 0 0;
    align-items: center;
    justify-content: baseline;
    flex-direction: column;
    color: var(--profile-theme);
    padding: 1rem 0;
    transition: all 0.3s;
}

.favor-list>li>i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    width: 50px;
    height: 50px;
}

.favor-list>li:hover {
    transform: scale(1.2);
    color: var(--color-tiffany);
}

.favor-list>li>span {
    letter-spacing: 0.5px;
    font-weight: bold;
    font-size: 1.25rem;
    color: var(--profile-theme);
}

.follow .box {
    text-align: center;
    vertical-align: middle;
}

.follow .box a {
    display: inline-block;
    vertical-align: text-bottom;
}

.follow .box a:hover i {
    background: var(--profile-theme);
    box-shadow: 0px 0px 2px 1px var(--profile-theme);
    border-radius: 5px;
    transform: rotate(45deg) scale(0.8);
}

.follow .box a:hover i::before {
    transform: rotate(-45deg) scale(1.5);
}

.follow .box .github i {
    background: var(--github_color);
    color: white;
    box-shadow: 0px 0px 2px 1px var(--github_color);
}

.follow .box .telegram i {
    background: var(--telegram_color);
    color: white;
    box-shadow: 0px 0px 2px 1px var(--telegram_color);
}

.follow .box .linkedin i {
    background: var(--linkedin_color);
    color: white;
    box-shadow: 0px 0px 2px 1px var(--linkedin_color);
}

.follow .box i {
    display: inline-block;
    font-size: 30px;
    background: var(--profile-theme);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    color: white;
    margin: 0 4px 4px 4px;
    transition-duration: 0.3s;
}

.follow .box i::before {
    transition-duration: 0s;
}

.follow .box i.fa::before {
    display: block;
}

.clickable {
    cursor: pointer;
    font-size: 30px;
    color: white;
}

@keyframes bg_anim {
    0% {
        box-shadow: 0px 0px 50px 0px var(--bg_shadow_color);
    }
    100% {
        box-shadow: 0px 0px 150px 0px var(--bg_shadow_color);
    }
}

@keyframes burn {
    0% {
        text-shadow: 0 0 10px #fefcc9,
            2.5px -2.5px 7.5px #feec85,
            -5px -3.5px 10px #ffae34,
            5px -5px 12.5px #ec760c,
            -5px -7px 10px #cd4606,
            0 -4px 12.5px #973716,
            2.5px -6px 13px #451b0e;
    }

    100% {
        text-shadow: 0 0 7px #fefcc9,
            2.5px -3.5px 8.5px #fefcc9,
            -5px -4.5px 11px #feec85,
            6px -6px 10px #ffae34,
            -6px -8px 12.5px #ec760c,
            0 -2px 13px #cd4606,
            2.5px -4px 15px #973716;
    }
}

@keyframes circle {
    0% {
        box-shadow: 0 0 0 0px rgba(51, 52, 57, 1);
    }

    100% {
        box-shadow: 0 0 0 6px rgba(51, 52, 57, 0);
    }
}

@media (max-width: 1024px) {
    html {
        font-size: 90%;
    }

    .wrapper {
        flex-direction: column;
    }

    .intro {
        background-color: var(--page_bg_color);
    }
    
    .intro,
    .detail {
        flex: 0 0 100%;
        box-shadow: none;
    }

    .intro-section {
        padding: 0 2rem;
    }

    .profile {
        margin-bottom: 1rem;
    }

    .profile::after {
        display: none;
    }

    .photo img {
        width: 100px;
        height: 100px;
    }

    .tool-list>li>.tl-name {
        font-size: 1.5rem;
        letter-spacing: 0px;
    }

    .favor-list>li>span {
        letter-spacing: 0.5px;
        font-size: 1.15rem;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 80%;
    }

    .favor-list>li {
        flex: 0 0 33.3333%;
    }

    .intro {
        background-color: var(--page_bg_color);
    }

    .tool-list>li>.tl-name {
        font-size: 1.15rem;
        letter-spacing: 0px;
    }

    .favor-list>li>span {
        letter-spacing: 0.5px;
        font-size: 1.15rem;
    }
}

@media (max-width: 500px) {
    html {
        font-size: 70%;
    }

    .intro {
        background-color: var(--page_bg_color);
    }

    .tool-list>li>.tl-name {
        font-size: 0.9rem;
        letter-spacing: 0px;
    }

    .favor-list>li>span {
        letter-spacing: 0px;
        font-size: 1rem;
    }
}